@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    @apply bg-slate-950 text-white;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-semibold mb-1;
  }
  a {
    @apply text-blue-600 cursor-pointer;
  }
  .login_reg_btn {
    @apply underline text-lg font-bold;
  }
  .placeholder_style {
    @apply placeholder:italic;
  }
  .log_reg_input {
    @apply border border-slate-300 rounded  px-2 py-1 outline-none placeholder_style;
  }
  .acc_menu_btn {
    @apply transition duration-200 hover:translate-x-2;
  }
  .admin_nav_li {
    @apply border-b-2 w-full text-center;
  }
  .admin_nav_a {
    @apply text-blue-600 text-lg;
  }
  .span_bold {
    @apply font-bold mr-1;
  }
  .nav_li {
    @apply hover:text-blue-600 cursor-pointer text-base sm:text-base md:text-lg xl:text-xl;
  }
  .nav_li a {
    @apply text-white hover:text-blue-600;
  }
  .single_movie:hover h2,
  .single_movie:hover button {
    visibility: visible;
  }
  .single_movie:hover img {
    opacity: 0.1;
  }
  .movie_descrip {
    @apply text-xl ml-2;
  }
  .movie_descrip strong {
    @apply mr-2;
  }
}
