@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    @apply bg-slate-950 text-white;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-semibold mb-1;
  }
  a {
    @apply text-blue-600 cursor-pointer;
  }
  .login_reg_btn {
    @apply underline text-lg font-bold;
  }
  .placeholder_style {
    @apply placeholder:italic;
  }
  .log_reg_input {
    @apply border border-slate-300 rounded  px-2 py-1 outline-none placeholder_style;
  }
  .acc_menu_btn {
    @apply transition duration-200 hover:translate-x-2;
  }
  .admin_nav_li {
    @apply border-b-2 w-full text-center;
  }
  .admin_nav_a {
    @apply text-blue-600 text-lg;
  }
  .span_bold {
    @apply font-bold mr-1;
  }
  .nav_li {
    @apply hover:text-blue-600 cursor-pointer text-base sm:text-base md:text-lg xl:text-xl;
  }
  .nav_link {
    @apply text-white hover:text-blue-600;
  }
  .nav_li_active {
    @apply text-blue-600 hover:text-white;
  }
  .single_movie {
    box-shadow: rgba(250, 249, 249, 0.473) 0px 3px 8px;
  }
  .single_movie:hover h2,
  .single_movie:hover button {
    visibility: visible;
  }
  .single_movie:hover img {
    opacity: 0.1;
  }
  .movie_descrip {
    @apply text-xl ml-2;
  }
  .movie_descrip strong {
    @apply mr-2;
  }
  .validation_error {
    @apply text-red-600 px-1;
  }
  .validation_invalid {
    @apply border-red-500 bg-red-200 border-2;
  }
  .filter_button {
    @apply border border-slate-300 px-2 py-1 bg-slate-600;
  }
  .edit_projection_form {
    @apply bg-white text-black w-1/2 mx-auto border border-slate-200 rounded px-2;
  }
  .edit_projection_form .edit_projection_form_input_div {
    @apply flex flex-col gap-1 my-2;
  }
  .edit_projection_form .edit_projection_form_input_div input {
    @apply border border-slate-300 rounded text-lg px-2;
  }
  .edit_projection_form_btn_div {
    @apply mx-auto flex flex-row w-[80%]  justify-between items-center mb-3 gap-x-4;
  }
  .loading_indicator {
    @apply inline-block relative w-[100px] h-[100px] my-[1rem];
  }
  .loading_indicator div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #301ce0;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #301ce0 transparent transparent transparent;
  }
  .loading_indicator div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .loading_indicator div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .loading_indicator div:nth-child(3) {
    animation-delay: -0.15s;
  }
  .hr_shadow {
    margin: -50px auto 10px;
    border-bottom: 1px solid #fff;
    box-shadow: 0 20px 10px -20px #f0eeee;
  }
  .footer_shadow {
    box-shadow: rgba(226, 223, 223, 0.24) 0px 3px 8px;
  }
}
